lxc.network.type = veth
lxc.network.link = br0
lxc.network.flags = up
lxc.network.hwaddr = 00:16:3e:xx:xx:xx
lxc.id_map = u 0 {{ user_subuid_start }} {{ user_subuid_range }}
lxc.id_map = g 0 {{ user_subgid_start }} {{ user_subgid_range }}
